#head {
    position: absolute;
    width: 400px;
    top: 100px;
    left: 300px;
}

#tenticle {
    position: absolute;
    top: 150px;
    left: 100px;
}

.wiggle {
    animation: wiggle 0.6s linear;
}

.name {
    font-family: "Comic Sans MS", cursive, sans-serif;
    position: absolute;
    font-size: 200%;
    color: #c2e2d6;
    background: black;
    padding: 20px;
    border-radius: 50%;
    border: 10px white solid;
}

.fade {
    animation: move 1s linear, fade 1s linear;
}

@keyframes wiggle {
    0%   { transform: rotate(0deg);  top: 150px; }
    25%  { transform: rotate(40deg); top: 100px;  }
    50%  { transform: rotate(0deg);  top: 150px; }
    75%  { transform: rotate(40deg); top: 100px;  }
    100% { transform: rotate(0deg);  top: 150px; }
}

@keyframes fade {
    0%   { transform: scale(0) }
    10%  { transform: scale(1) }
    70%  { transform: scale(1) }
    80%  { transform: scale(0) }
    100% { transform: scale(0) }
}

@keyframes move {
    0% { top: 50px; left: 50px; }
    100% { top: 0px; left: 0px; }
}
