#head {
    position: absolute;
    width: 400px;
    left: 200px;
}

#tenticle {
    position: absolute;
    top: 50px;
}

.wiggle {
    animation: wiggle 0.6s linear;
}

@keyframes wiggle {
    0%   { transform: rotate(0deg);  top: 50px; }
    25%  { transform: rotate(40deg); top: 0px;  }
    50%  { transform: rotate(0deg);  top: 50px; }
    75%  { transform: rotate(40deg); top: 0px;  }
    100% { transform: rotate(0deg);  top: 50px; }
}
